# --- Core y Red ---
aiohttp
cloudscraper

# --- Interfaz Gráfica ---
PyQt6

# --- Multimedia y Extras ---
pyttsx3
spotipy
edge_tts
pygame
packaging
opencv-python

markdown
# # --- Empaquetado ---
pyinstaller
