# --- Interfaz Gráfica ---
PyQt6

# --- Kick & Redes (Core del Bot) ---
kickpython
curl_cffi
requests
aiohttp
aiohttp_cors
packaging
cloudscraper
websockets
# --- Multimedia y Funcionalidades ---
pyttsx3
spotipy
opencv-python
# --- Dependencias de Sistema (Windows) ---
pywin32

# --- Compilación ---
pyinstaller